@import "./vars";
@import "./mixin";
* {
    @extend %border-box;
    @include paddMrg("margin", 0, 0);
    @include paddMrg("padding", 0, 0);
}

*:after,
*:before {
    @extend %border-box;
    @include paddMrg("margin", 0, 0);
    @include paddMrg("padding", 0, 0);
}

body {
    position: relative;
    @include paddMrg("margin", 0);
    font-family: Roboto;
    @include colorFn("bgr", rgb(240, 240, 240));
    min-height: 90vh;
}

#wrapper {
    max-width: 960px;
    @include paddMrg("margin", 0, auto);
    h1 {
        @include paddMrg("margin", 40px, auto);
        @include colorFn("font", #da008a);
        @extend %text-center;
        font-variant: small-caps;
        letter-spacing: 1.7px;
    }
    ul {
        @include paddMrg("padding", 0);
        list-style-type: none;
    }
}

li {
    @include paddMrg("padding", 6px, 10px);
    @include paddMrg("margin", 10px, auto);
    border: 1px solid #eee;
    h4 {
        @include colorFn("font", #cf0083);
        @include paddMrg("margin", 0);
        text-transform: capitalize;
    }
    p {
        @include colorFn("font", #333);
        @include paddMrg("margin", 8px, 0, 0, auto);
    }
}

form {
    max-width: 960px;
    @include paddMrg("margin", auto);
    @extend %text-center;
}

label {
    display: block;
    font-weight: weight("bold");
    font-size: size("smallquite");
    @include colorFn("font", #333);
    @include paddMrg("margin", 16px, 0, 6px);
}

input,
select {
    @include paddMrg("padding", 6px);
    border: 1px solid #e1e1e1;
    @include colorFn("bgr", rgb(246, 246, 246));
    border-radius: 4px;
}

.field {
    display: inline-block;
    @include paddMrg("margin", 0, 10px);
}

button {
    @include colorFn("font", white);
    border: 0;
    @include colorFn("bgr", #da008a);
    @include paddMrg("padding", 6px);
    @include paddMrg("margin", 10px);
    min-width: 80px;
    border-radius: 4px;
}

div.form-container {
    @include colorFn("bgr", rgba(208, 219, 236, 0.746));
    @include paddMrg("padding", 60px);
    @include paddMrg("margin", "top", 60px);
    button.btn-submit {
        display: block;
        @include paddMrg("margin", auto);
        @include paddMrg("margin", 'top', 1.5rem);
    }
    button.reset {
        display: block;
        @include paddMrg("margin", auto);
        @include paddMrg("margin", 'top', 2rem);
        @include paddMrg("margin", 'bottom', 3rem);
        @include colorFn("bgr", #7322a8);
    }
}

.shadow-mid-dark {
    @include boxShadow(0, 5px, 10px, -5px, rgba(51, 51, 51, 1))
}